SECRET_KEY=your-secret-key-here

# Service Accounts credentials
SERVICE_ORDERS_USERNAME=service_orders
SERVICE_ORDERS_PASSWORD=password_seguro

SERVICE_PAYMENTS_USERNAME=service_payments
SERVICE_PAYMENTS_PASSWORD=password_seguro
