<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django app</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="bg-white rounded-2xl shadow-lg p-6 max-w-sm w-full">
        <h1 class="text-3xl font-bold underline">Lista de carros</h1>
        <ul>
            {% for car in cars %}
            <li>{{ car.title }}</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>