{% extends "base.html" %}

{% block content %}
<div class="min-h-screen flex flex-col items-center bg-gray-50 p-20">
    <h1 class="text-xl">Vista de creación de productos</h1>
    <form action='{% url "add_product" %}' method="post" enctype="multipart/form-data" class="w-full max-w-md">
        {% csrf_token %}
        {% if form.instance.id %}
        <input type="hidden" name="id" value="{{ form.instance.id }}">
        {% endif %}
        {{ form.as_p }}
        <button type="submit" class="mt-10 w-full bg-blue-500 text-white px-4 py-2 rounded">
            {% if form.instance.id %}
            {{"Actualizar Producto"}}
            {% else %}
            {{"Crear Producto"}}
            {%endif%}
        </button>
    </form>

    {% if form.instance.id %}
    <form method="post" action="{% url 'delete_product' product.id %}"
        onsubmit="return confirm('¿Seguro que deseas eliminar este producto?')" class="inline">
        {% csrf_token %}
        <button type="submit" class="text-red-600 hover:underline bg-transparent border-none cursor-pointer">
            Eliminar
        </button>
    </form>
    {% endif %}
{% endblock content %}