{% load static %}
<nav class="relative bg-sky-600">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-12 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" command="--toggle" commandfor="mobile-menu"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-white hover:bg-sky-800 hover:text-white focus:outline-2 focus:-outline-offset-1 focus:outline-sky-800">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon"
            aria-hidden="true" class="size-6 in-aria-expanded:hidden">
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon"
            aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
            <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center">
          <a href="{% url 'products:product_list' %}" class="rounded-full hover:bg-sky-800 text-white mr-4 p-1">
            <img src="{% static 'img/logo.png' %}" class="w-11 h-8"></img>

          </a>
        </div>

      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

        <!-- Profile dropdown -->
        {% if user.is_authenticated %}
        <a href="{% url 'orders:my-orders' %}" class="text-white rounded-full hover:bg-sky-800 mx-5 p-1">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
          </svg>

        </a>

        <el-dropdown class="relative ml-1">
          <button
            class="relative flex hover:bg-sky-800 p-1 text-white rounded-full focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-800">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">Open user menu</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
          </button>

          <el-menu anchor="bottom end" popover
            class="w-48 origin-top-right rounded-md bg-white p-3 shadow-lg outline outline-black/5 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
            <div class="text-sm text-gray-500 flex items-center justify-between">
              <p class="">
                Bienvenid@, {{ user.username }}!
              <form action="{% url 'logout' %}" method="post">
                </p>
                <div>
                  {% csrf_token %}
                  <button type="submit" class="hover:text-gray-800 text-gray-500 transition">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                    </svg>
                  </button>
              </form>
            </div>
      </div>
      <hr>
      <a href="{% url 'profile' %}" class="text-gray-500 hover:text-gray-800 transition p-1">
        Ir a Perfil
      </a>
      </el-menu>
      </el-dropdown>
      {% else %}
      <a href="{% url 'login' %}" class="text-gray-500 hover:text-gray-600 transition inline-flex items-center">
        <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" aria-hidden="true"
          stroke-width="1.5">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M15 3h4a2 2 0 012 2v14a2 2 0 01-2 2h-4M10 17l5-5-5-5M15 12H3" />
        </svg>
        Login
      </a>
      {% endif %}
    </div>
  </div>
  </div>

  <el-disclosure id="mobile-menu" hidden class="block sm:hidden">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <a href="{% url 'products:product_list' %}" aria-current="page"
        class="block rounded-md bg-sky-600 hover:bg-sky-700 py-2 text-base font-medium text-white">Products</a>
    </div>
  </el-disclosure>
</nav>